<h2 class="text-center"> Template form</h2>
<form #iform="ngForm" class="row g-3">
  <div class="col-md-6">
    <label  >FirstName</label>
    <input type="text" name="firsrName" #fname="ngModel" [(ngModel)]="userObj.firsrName" required class="form-control" id="FirstName">
    <div class="text-danger">
      @if(fname.errors?.['required'] && fname.touched && fname.dirty){
        <span>this is required</span>
      }
    </div>
  </div>
  <div class="col-md-6">
    <label  >LastName</label>
    <input type="text" name="lastName" #lName="ngModel" required minlength="4" [(ngModel)]="userObj.lastName"  class="form-control" id="inputlastName">
    <span class="text-danger" *ngIf="lName.errors?.['required'] && lName.touched"> this required</span>
    <span class="text-danger" *ngIf="lName.errors?.['minlength'] && lName.touched"> this should 4 char</span>
  </div>
   <div class="col-md-12">
    <label  >UserName</label>
    <input type="text" name="userName" [(ngModel)]="userObj.userName"  class="form-control" id="inputUserName">
  </div>
  <!-- <div class="col-md-6">
    <label >Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label  >Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label >Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label  >Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div> -->
  <div class="col-md-6">
    <label  >City</label>
    <input type="text" name="city" [(ngModel)]="userObj.city"  class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label >State</label>
    <select id="inputState" name="state" [(ngModel)]="userObj.state"  class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label  >ZipCode</label>
    <input type="text" name="zipcode" [(ngModel)]="userObj.zipcode"  class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" name="isTermAgree" [(ngModel)]="userObj.isTermAgree"  type="checkbox" id="gridCheck">
      <label>
        Agree Term 
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" [disabled]="iform.invalid" (click)="onSave()" class="btn btn-primary">Sign in</button>
  </div>
</form>


